* *::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #1f1f1f;
  color: #f9f9f9;
  font-weight: 200;
  margin: 0 5rem;
  font-size: 1.7rem;
}

::selection {
  background: #ffc121;
}
::-moz-selection {
  background: #ffc121;
}

h3 {
  font-weight: 100;
  font-size: 6.75rem;
  text-align: center;
  margin: 0;
}

h4 {
  font-weight: 100;
  font-size: 6.75rem;
  text-align: center;
}

h5 {
  font-size: 3.75rem;
  font-weight: 200;
  margin: 0;
}

.primary-color {
  color: #ffc121;
}

.bold {
  font-weight: 400;
}

/* //////////////////////////////////////////////////////////////// */
/* NAVBAR*/
/* //////////////////////////////////////////////////////////////// */
.hero-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-logo a {
  text-decoration: none;
  color: #f9f9f9;
  font-weight: 200;
  letter-spacing: 0.3rem;
  font-size: 3rem;
}

.nav-links {
  display: flex;
}

.nav-container a {
  text-decoration: none;
  margin-left: 3.5rem;
  color: #f9f9f9;
  font-weight: 200;
  letter-spacing: 0.3rem;
}

.nav-container a:hover {
  color: #ffc121;
  transition: all 0.2s ease-in;
}

.nav-container li {
  list-style: none;
}

.cta {
  border: 1px solid #ffc121;
  border-radius: 3px;
  padding: 0.5rem 1.5rem;
}

/* //////////////////////////////////////////////////////////////// */
/* Hero Section */
/* //////////////////////////////////////////////////////////////// */

header {
  width: 100%;
  height: 100vh;
}

.hero-container {
  display: flex;
  align-items: flex-end;
  height: 88vh; /* shifts the titles up the small the vh */
}

.hero-title {
  font-size: 20rem;
  font-weight: 200;
  line-height: 20rem;
  margin-top: 0;
  margin-bottom: 0;
}

.hero-sub-title {
  font-size: 10rem;
  font-weight: 100;
  margin: 2rem 0 0 0.6rem;
  animation: 2s sub-title;
}

.line-1 {
  animation: 1s title-1;
}

.line-2 {
  animation: 1.5s title-2;
}

@keyframes title-1 {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes title-2 {
  0% {
    opacity: 0;
  }
  20% {
    transform: translateY(-100px);
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes sub-title {
  0% {
    opacity: 0;
  }

  30% {
    transform: translateY(-100px);
  }
  40% {
    opacity: 0;
  }

  70% {
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ************************************************************* */
/* About Section */
/* ************************************************************* */

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
  overflow: hidden;
  letter-spacing: 0.1rem;
  padding: 4rem 1.5rem;
}

.about-content {
  display: flex;
  position: relative;
  max-width: 80rem;
  margin-left: 10rem;
}

.about-line {
  position: absolute;
  height: 140%;
  width: 1px;
  background-color: #f9f9f9;
  left: -5rem;
  top: -20%;
}

/* ************************************************************* */
/* Projects Section */
/* ************************************************************* */

.portfolio {
  margin: 0 auto 20rem auto;
  font-size: 1.5rem;
}

.portfolio-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 130rem;
  flex-wrap: wrap;
}

.portfolio-item,
.website-img {
  max-width: 40rem;
}

.portfolio-item {
  margin: 1rem;
}

.website-img {
  cursor: pointer;
}

.portfolio-item__title {
  text-align: center;
  font-weight: 200;
  letter-spacing: 0.1rem;
  font-size: 2rem;
}

/* ************************************************************* */
/* Services and Pricing Section */
/* ************************************************************* */

.services-section {
  margin: 0 auto;
  max-width: 130rem;
}

.price-cards {
  display: flex;
  justify-content: space-around;
  margin: 8rem auto 0 auto;
  flex-wrap: wrap;
}

.card {
  position: relative;
  width: 30rem;
  height: 35rem;
  text-align: center;
  border-radius: 10px;
  background-image: linear-gradient(#2b2b2b, #000000);
  margin-bottom: 5rem;
  transition: transform 0.5s;
}

.card:hover {
  transform: translateY(-1rem);
}

.text-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 5rem 0 0 0;
  letter-spacing: 0.1rem;
  position: relative;
}

.card-bold {
  font-weight: 500;
  padding: 0 6rem;
  font-size: 1.6rem;
}

.main-card-text {
  margin: 0rem 1rem;
  font-size: 1.5rem;
}

.card-header {
  position: absolute;
  width: 30rem;
  top: -10.5rem;
  font-size: 5rem;
  left: 50%;
  transform: translateX(-50%);
}

.price {
  display: flex;
  flex-direction: column;
  color: #ffc121;
  font-size: 2.5rem;
  position: absolute;
  bottom: 6rem;
  left: 50%;
  transform: translateX(-50%);
}

.price-btn {
  border: none;
  border-radius: 3px;
  height: 3.5rem;
  width: 11.5rem;
  margin: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #ffc121;
  color: #f9f9f9;
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 3.5rem;
}

.price-btn:hover,
.price-btn:focus {
  color: #ffc121;
  transition: all 0.4s;
  border: 1px solid #f9f9f9;
}

.bolt-ons {
  width: 90%;
  letter-spacing: 0.1rem;
  font-size: 1.6rem;
  padding-left: 2rem;
}

/* ************************************************************* */
/* Process Section */
/* ************************************************************* */
.process-section {
  margin-top: 15rem;
}
.process-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 10rem 0;
}

.process-item {
  border: 1px solid white;
  width: 22rem;
  height: 22rem;
  margin: 1.5rem;
}

.process-item-inner {
  width: 100%;
  height: 100%;
}

.process-item-inner p {
  display: block;
  text-align: center;
  padding: 0 0.5rem;
  font-size: 1.7rem;
}

.process-item:nth-child(even) {
  margin-top: 12rem;
}

.client-section {
  width: 50%;
  margin: 10rem auto 0 auto;
}

/* ************************************************************* */
/* Contact Section */
/* ************************************************************* */
#email-link {
  color: #f9f9f9;
}

.email {
  text-align: center;
  margin: 1rem 0;
  color: #ffc121;
}

.contact-section {
  background-color: #1f1f1f;
  color: #f9f9f9;
  font-weight: 300;
  margin: 0 2.5%;
}

.contact-section p {
  text-align: center;
}

#contact-form {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  letter-spacing: 0.2rem;
}

input {
  color: white;
}

label {
  font-size: 1.5rem;
}

.field {
  padding: 1rem;
  margin-bottom: 1.5rem;
  background: transparent;
  border: 1px solid #f9f9f9;
  color: white;
}

#submit {
  width: 13rem;
  border: none;
  border: 1px solid #f9f9f9;
  color: white;
  border-radius: 5px;
}

#submit:hover {
  transition: all 0.3s ease;
  border: 1px solid #ffc121;
  cursor: pointer;
}

/* ************************************************************* */
/* Footer*/
/* ************************************************************* */

footer {
  background-color: #1f1f1f;
  color: #f9f9f9;
  font-size: 1.45rem;
  font-weight: 200;
  letter-spacing: 0.15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

footer p {
  margin: 1rem;
}

.footer-links {
  display: flex;
  padding: 0;
  justify-content: center;
  margin-top: 0rem;
  flex-wrap: wrap;
}

.footer-item-link {
  text-decoration: none;
  color: #f9f9f9;
}

.footer-container a:hover {
  color: #ffc121;
  transition: all 0.2s ease-in;
}

.footer-container li {
  list-style: none;
  margin-right: 1.5rem;
  margin-top: 0.2rem;
}

.footer-container li:last-child {
  margin-right: 0;
}

/* ************************************************************* */
/* Menu*/
/* ************************************************************* */
.menu {
  display: flex;
  display: none;
  position: fixed;
  z-index: 99999;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #1f1f1f;
  align-items: center;
  justify-content: center;
}

.menu-links {
  list-style: none;
  font-size: 5rem;
  line-height: 8rem;
}

.menu-close {
  position: absolute;
  font-size: 6rem;
  font-weight: 200;
  line-height: 2.5rem;
  right: 2rem;
  top: 1.5rem;
  cursor: pointer;
  transition: transform 0.5s;
}

.menu-close:hover {
  transform: rotate(90deg);
}

.menu-item-link {
  text-decoration: none;
  color: #f9f9f9;
  font-weight: 100;
}

.hamburger {
  display: none;
  cursor: pointer;
}

/* ************************************************************* */
/* Modal*/
/* ************************************************************* */
/* stops the background scroll */
.scroll {
  overflow: hidden;
  position: relative;
}

.modal {
  display: none;
  position: fixed;
  z-index: 99999;
  padding-top: 5rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
}

.close {
  position: absolute;
  top: 0;
  right: 5rem;
  color: #f1f1f1;
  font-size: 50px;
  transition: 0.3s;
  position: fixed;
}

.close:hover,
.close:focus {
  cursor: pointer;
  transform: rotate(90deg);
}

#modal-img {
  width: 70%;
  display: block;
  margin: 0 auto;
  padding: 2rem 0;
}

/*  */

/* Media Queries */
@media only screen and (max-width: 1500px) {
  .hero-title {
    font-size: 15.5rem;
    line-height: 15.5rem;
  }

  .hero-sub-title {
    font-size: 7.8rem;
  }
}

@media only screen and (max-width: 1400px) {
  .process-item:nth-child(even) {
    margin-top: 1.5rem;
  }
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 52%;
  }

  .nav-logo a {
    font-size: 2.5rem;
  }

  .hero-title {
    font-size: 17rem;
    line-height: 17rem;
  }

  .hero-sub-title {
    font-size: 7.8rem;
  }
}

@media only screen and (max-width: 1000px) {
  body {
    margin: 1rem;
  }
  .nav-logo a {
    margin-left: 2rem;
  }

  .hamburger {
    display: flex;
    height: 5rem;
  }

  #hamburger {
    position: absolute;
    width: 3rem;
    height: 3rem;
    right: 4rem;
    top: 1rem;
  }

  .nav-links {
    display: none;
  }

  .hero-title {
    font-size: 17rem;
    line-height: 17rem;
  }

  .hero-sub-title {
    font-size: 7.8rem;
    margin-bottom: 5rem;
  }
}

@media only screen and (max-width: 930px) {
  .hero-title {
    font-size: 14.5rem;
    line-height: 14.5rem;
  }

  .hero-sub-title {
    font-size: 6.5rem;
  }
}

@media only screen and (max-width: 780px) {
  .hero-title {
    font-size: 12rem;
    line-height: 12rem;
  }

  .hero-sub-title {
    font-size: 5rem;
  }

  .about-line {
    display: none;
  }

  .about-container {
    flex-direction: column;
  }

  .about-content {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) {
  .hero-title {
    font-size: 8rem;
    line-height: 10rem;
  }

  .hero-sub-title {
    font-size: 6rem;
    margin-bottom: 5rem;
  }

  #hamburger {
    right: 3rem;
  }

  .bolt-on-content {
    font-size: 1.5rem;
  }
}
